---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <h1>about</h1>

        <button> <a href="cv_jose_martinez.pdf"> resume </a> </button>
    </main>
</Layout>
