---
const navItems = [
  { href: "/", label: "~/jjmr" },
  { href: "/experience", label: "/experience" },
  { href: "/projects", label: "/projects" },
  { href: "/contact", label: "/contact" },
];
---

<nav class="navbar">
  <ul>
    {
      navItems.map((item) => (
        <li>
          <a href={item.href} class="nav-link" data-href={item.href}>
            {item.label}
          </a>
        </li>
      ))
    }
    <li><button id="theme-toggle" class="theme-toggle">☀</button></li>
  </ul>
</nav>

<style>
  .active {
    font-weight: 800;
  }

  .theme-toggle {
    cursor: pointer;
  }
</style>
<script>
  document.addEventListener("astro:after-swap", () => {
    setupThemeToggle();
    activeTab();
  });

  document.addEventListener("DOMContentLoaded", () => {
    setupThemeToggle();
    activeTab();
  });

  function activeTab() {
    const currentPath = window.location.pathname;
    document.querySelectorAll(".nav-link").forEach((link) => {
      if (link.getAttribute("data-href") === currentPath) {
        link.classList.add("active");
      }
    });
  }

  function setupThemeToggle() {
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;
    if (!themeToggle) return;

    const currentTheme = localStorage.getItem("theme") || "dark";
    body.className = currentTheme;
    updateThemeIcon(currentTheme);

    themeToggle.onclick = () => {
      const newTheme = body.className === "dark" ? "light" : "dark";
      body.className = newTheme;
      localStorage.setItem("theme", newTheme);
      updateThemeIcon(newTheme);
    };

    function updateThemeIcon(theme: string) {
      themeToggle!.textContent = theme === "dark" ? "☀️" : "🌙";
    }
  }
</script>
