---
const currentPath = Astro.url.pathname;

const navItems = [
    { href: "/about", label: "~/about" },
    { href: "/projects", label: "/projects" },
    { href: "/contact", label: "/contact" },
];
---

<nav class="navbar">
    <ul>
        <li class="acronyms">jjmr</li>
        {
            navItems.map((item) => (
                <li>
                    <a
                        href={item.href}
                        class:list={[
                            "nav-link",
                            { active: currentPath === item.href },
                        ]}
                    >
                        {item.label}
                    </a>
                </li>
            ))
        }
        <li><button id="theme-toggle" class="theme-toggle">☀</button></li>
    </ul>
</nav>
<style>
    .active {
        font-weight: 800;
    }

    .theme-toggle {
        cursor: pointer;
    }
</style>
<script>
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;
    if (!themeToggle) {
        console.error("Theme toggle button not found");
    } else {
        const currentTheme = localStorage.getItem("theme") || "dark";
        body.className = currentTheme;
        updateThemeIcon(currentTheme);
        themeToggle.addEventListener("click", () => {
            const newTheme = body.className === "dark" ? "light" : "dark";
            body.className = newTheme;
            localStorage.setItem("theme", newTheme);
            updateThemeIcon(newTheme);
        });
    }
    function updateThemeIcon(theme: string): void {
        if (themeToggle) {
            themeToggle.textContent = theme === "dark" ? "☀️" : "🌙";
        }
    }
</script>
